# use gitignore as whitelist
*
!.gitignore
!.config/
!bin/

!.vim/
!colors/
!solarized.vim

!README.md
!screenfetch.png

!.i3/*
!dunst/
!dunstrc
!terminator/
!config
!.bashrc
!.profile
!.gtkrc-2.0
!.Xresources
!compton.conf
!.fonts.config
!user-dirs.dirs

!redshift.conf

!geany/
!colorschemes/
!solarized-dark.conf

!blurlock.sh
!blurlock2.sh
!sedtris.sh
!sedtris.sed
!monitor-hotplug.sh
!i3-autoname-workspaces.py
!clone
!toggle-touchpad.sh
!toggle-governor

