# use gitignore as whitelist
*
!.gitignore
!.config/
!bin/

!README.md
!screenfetch.png

!.i3/*
!dunst/
!dunstrc
!terminator/
!config
!.bashrc
!.gtkrc-2.0
!.Xresources
!compton.conf
!.fonts.config
!user-dirs.dirs
!geany/
!colorschemes/
!solarized-dark.conf

!blurlock.sh
